@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Cuneiform&family=Quicksand:wght@300..700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding-top: 0;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.navbar button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  margin-left: 20px;
  cursor: pointer;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews */
.blog-list h1 {
  margin-top: 20px;
}
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}
.blog-preview a {
  text-decoration: none;
}

/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-top: 20px;
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0px;
}
.blog-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  margin-right: 20px;
  cursor: pointer;
}

/* homepage */
.home h3 {
  font-size: 20px;
  margin-top: 20px;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-top: 20px;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* update blog */
.update-details {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.update-details label {
  text-align: left;
  display: block;
}
.update-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.update-details input, .update-details textarea {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.update-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* login page */
.login {
  max-width: 400px;
  margin: 100px auto;
  text-align: center;
}
.login label {
  text-align: left;
  display: block;
  margin-top: 20px;
  margin-bottom: 15px;
}
.login h2 {
  font-size: 30px;
  font-weight: bold;
  color: #f1356d;
  margin-bottom: 30px;
}
.login h3 {
  font-size: 15px;
  margin-top: 20px;
}
.login input {
  height: 40px;
  width: 100%;
  padding: 15px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;
  display: block;
}
.login button {
  height: 40px;
  width: 100%;
  background: #f1356d;  
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: block;
  border: 0;
  padding: 8px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: pointer;
}

/* signup page */
.signup {
  max-width: 400px;
  margin: 100px auto;
  text-align: center;
}
.signup label {
  text-align: left;
  display: block;
  margin-top: 20px;
  margin-bottom: 15px;
}
.signup h2 {
  font-size: 30px;
  font-weight: bold;
  color: #f1356d;
  margin-bottom: 30px;
}
.signup h3 {
  font-size: 15px;
  margin-top: 20px;
}
.signup input {
  height: 40px;
  width: 100%;
  padding: 15px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;
  display: block;
}
.signup button {
  height: 40px;
  width: 100%;
  background: #f1356d;  
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: block;
  border: 0;
  padding: 8px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: pointer;
}